#landing_section {
    background-image: url("../../assets/images/pexels-photo-672914.jpeg");
    background: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7) ),url("../../assets/images/pexels-photo-672914.jpeg");
    background-size: cover;
    padding-top: 0 !important;
}

#television_section {
    background-image: url("../../assets/images/tv_bg.jpeg");
    background: linear-gradient( rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8) ), url("../../assets/images/tv_bg.jpeg");    
    background-size: cover;
    padding-top: 0 !important;    
}

#film_section {
    background-image: url("../../assets/images/film_bg.jpeg");
    background: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7) ), url("../../assets/images/film_bg.jpeg");        
    background-size: cover;
    padding-top: 0 !important; 
}
#film_section_cont {
    background-image: url("../../assets/images/film_bg.jpeg");
    background: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7) ), url("../../assets/images/film_bg.jpeg");        
    background-size: cover;
    padding-top: 0 !important; 
}

#about_section {
    background-image: url("../../assets/images/about_bg.jpeg");
    background: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7) ), url("../../assets/images/about_bg.jpeg");            
    background-size: cover;
    padding-top: 0 !important; 
}

#rain_bg {
    background-image: url("../../assets/images/bg_rain.png");
    background-repeat: repeat;
    width: 100vw;
    height: 100vh;
    position: absolute;
    z-index: 101;
    background-size: cover;
    animation: animate_rain 1.60s infinite linear;
}
.television_project{
    width: 50%;
    font-size: 1.3em;
}
#loadScreen{
    position:absolute;
    background: black;
    width: 100vw;
    height: 100vh;
    z-index: 101;
}
@keyframes animate_rain {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 0 -200%;
    }
}

.content_container {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    flex-direction: column;
}
.film_container{
    color: white;
    text-align: center;
}

.fullpage-wrapper {
    width: 100% !important;
    transform: none !important;
}

.fp-section {
    width: 100% !important;
    position: absolute;
    left: 0;
    top: 0;
    visibility: hidden;
    opacity: 0;
    transition: all 1.2s ease-in-out;
}

.fp-section.active {
    visibility: visible;
    opacity: 1;
}

#fp-nav ul li a span{
    background: white;
}

#fp-nav ul li .fp-tooltip{
    font-family: 'Roboto Condensed', sans-serif;    
}

#fp-nav{
    position: absolute;
    margin-top: 0;
    bottom: 0;
    left: 50%;
    top: auto;
}

#fp-nav.right{
    right: auto;
}

.film_project{
    width: 300px;
    display: inline-block;
    margin: 15px;
    height: 250px;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
}

.film_project > p{
    font-size: 1.2em;
    text-align: left;
    font-family: 'Old Standard TT', serif;
}

.film_title{
    margin-bottom:20px;
    font-family: 'Roboto Condensed', sans-serif;    
}

.title_container{
    height: 30%;
}
#title_container_landing > h1{
    font-size: 8em;
    font-family: 'Roboto Condensed', sans-serif;
    margin: 0;
}

.title_container_project > h1{
    font-size: 2.5em;
    font-family: 'Roboto Condensed', sans-serif;    
    color: white;
    text-align: center;
}

.description > h2{
    font-size: 2.5em;
}

.description > p{
    font-size: 1.3em;
}
